body.container {
    display: flex;
}

div.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: black;
    border: 1px solid black;
}

div.row {
    flex: 1;
    height: 5px;
    background-color: red;
    border: 1px solid green;
}

button {
    color: red;
}